<template name="characterBreakdown">
    <div class="container">
        <h1>Character Breakdown by Number of Players</h1>
        <br>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <td><strong># of Players</strong></td>
                    <td><strong>Blue</strong></td>
                    <td><strong>Red</strong></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>5 Players</td>
                    <td>3 blue: Merlin, Percival, 1 Servant of Arthur</td>
                    <td>2 red: Mordred, Morgana</td>
                </tr>
                <tr>
                    <td>6 Players</td>
                    <td>4 blue: Merlin, Percival, 2 Servants of Arthur</td>
                    <td>2 red: Mordred, Morgan</td>
                </tr>
                <tr>
                    <td>7 Players</td>
                    <td>4 blue: Merlin, Percival, 2 Servants of Arthur</td>
                    <td>3 red: Mordred, Morgana, Assassin</td>
                </tr>
                <tr>
                    <td>8 Players</td>
                    <td>5 blue: Merlin, Percival, 3 Servants of Arthur</td>
                    <td>3 red: Mordred, Morgana, Assassin</td>
                </tr>
                <tr>
                    <td>9 Players</td>
                    <td>6 blue: Merlin, Percival, 4 Servants of Arthur</td>
                    <td>3 red: Mordred, Morgana, Assassin</td>
                </tr>
                <tr>
                    <td>10 Players</td>
                    <td>6 blue: Merlin, Percival, 4 Servants of Arthur</td>
                    <td>4 red: Mordred, Morgana, Assassin, 1 Minion of Mordred</td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-default js-back">Back</button>
    </div>

</template>