
<template name="characterList">
    <div class="container">
        <h1>Players
            <span class="right-btn-container">
                <button class="btn btn-default right-btn js-start-over">Start Over</button>
                <button class="btn btn-default right-btn js-reveal {{#if canReveal}}hidden{{/if}}">Reveal Identities</button>
            </span>
        </h1>
        {{#each names}}
            <div class="alert {{#unless seen}}alert-success{{/unless}} person-name">
                <h3 class="name">{{name}}</h3>
            </div>
        {{/each}}
    </div>
</template>
