html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.person-name {
    text-align: center;
}

.red {
    color: #d9534f;
}

.blue {
    color: #337ab7;
}

.preview-container {
    color: #4c4c4c;
    text-align: center;
    width: 100%;
    min-height: 100%;
    padding-top: 30px;
}

.alert-success:hover {
    background-color: #d6e9c6;
}

.preview-label {
    font-size: 24px;
    text-transform: uppercase;
}

.preview-content {
    font-size: 60px;
    margin-bottom: 40px;
    margin-top: 0;
}

.right-btn {
    float: right;
}

.right-btn-container .btn:last-child {
    margin-right: 20px;
}