
<template name="main">

    <div class="container">
        <h1>Avalon Online
            <span>
                <button class="btn btn-default js-char-breakdown right-btn">See Character Breakdown</button>
            </span>
        </h1>
        <div class="names">

            <div class="alert alert-danger error hidden" role="alert"></div>

            <form class="form-horizontal">
                <fieldset class="names-form">

                    <legend>Players</legend>

                    {{#each players}}
                        <div class="form-group js-player-input">
                            <label class="control-label col-md-1" for="player{{value}}">Player {{value}}</label>
                            <div class="col-md-4">
                                <input name="player{{value}}" type="text" placeholder="Player {{value}}" class="form-control input-md name">
                            </div>
                            {{#unless necessary}}
                                <button class="btn btn-default js-remove-player">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            {{/unless}}

                        </div>
                    {{/each}}

                </fieldset>
            </form>
        </div>

        <button class="btn btn-default add-person">Add Person</button>
        <button class="btn btn-primary submit">Submit</button>
    </div>

</template>
